.btn {
    margin-left: 10px;
}

.OurSpecialities {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}